{% if settings.show_shipping_calculator and template contains "cart" and cart.item_count > 0 %}
  <div class="container">
    <div id="shipping-calculator" class="sixteen columns">
      <h4>{{ 'cart.shipping_calculator.heading' | t }}</h4>

      <div id="shipping-calculator-form-wrapper" class="clearfix">

          <div class="four columns alpha" id="address_country_container">
            <label for="address_country">{{ 'cart.shipping_calculator.country' | t }}</label>
            <select id="address_country" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.country %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
          </div>

          <div class="four columns" id="address_province_container" style="display:none;">
            <label for="address_province" id="address_province_label">{{ 'cart.shipping_calculator.province' | t }}</label>
            <select id="address_province" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
          </div>

          <div class="three columns" id="address_zip_container">
            <label for="address_zip">{{ 'cart.shipping_calculator.zip_code' | t }}</label>
            <input type="text" id="address_zip" class="styled-input" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} />
          </div>

          <div class="four columns omega" id="get-rates-container">
            <label for="get-rates-submit">&nbsp;</label>
            <input type="button" id="get-rates-submit" class="get-rates action_button" value="{{ 'cart.shipping_calculator.submit_button_label' | t }}" />
          </div>

      </div><!-- .shipping-calculator-form-wrapper -->

      <div id="wrapper-response"></div>

    </div><!-- #shipping-rates-calculator -->

    <script async id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
      {% raw %}
      <p id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
      {{if success}}
        {{if rates.length > 1}}
        {% endraw %}
        {{ 'cart.shipping_calculator.additional_rates' | t }}
        {% raw %}
        {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}.
        {{else}}
          {{if rates.length == 1}}
          {% endraw %}
          {{ 'cart.shipping_calculator.available_rates' | t }}
          {% raw %}
          {{else}}
          {% endraw %}
          {{ 'cart.shipping_calculator.no_shipping_destination' | t }}
          {% raw %}
          {{/if}}
        {{/if}}
      {{else}}
        ${errorFeedback}
      {{/if}}
      </p>
      <ul id="shipping-rates">
        {{each( index, rate ) rates}}
        <li>${rate.name}
        {% endraw %}
        {{ 'cart.shipping_calculator.at' | t }}
        {% raw %}
         {{html Shopify.Cart.ShippingCalculator.formatRate(rate.price)}}</li>
        {{/each}}
      </ul>
      {% endraw %}
    </script>

    {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ '/services/javascripts/countries.js' | script_tag }}
    {{ 'jquery.cart.min.js' | asset_url | script_tag }}

    <script async type="text/javascript">
      Shopify.Cart.ShippingCalculator.show( {
        submitButton: {{ 'cart.shipping_calculator.submit_button_label' | t | json }},
        submitButtonDisabled: {{ 'cart.shipping_calculator.submit_button_label_disabled' | t | json }},
        {% if customer and customer.default_address.country %}customerIsLoggedIn: true,{% endif %}
        moneyFormat: '<span class="money">' + {{ shop.money_format | json }} + '</span>'
      } );
    </script>
  </div>
{% endif %}