{% if settings.show_multiple_currencies %}

{{ "/services/javascripts/currencies.js" | script_tag }}
{{ "jquery.currencies.min.js" | asset_url | script_tag }}

<script async defer>

{% if settings.currency_format %}
  Currency.format = '{{ settings.currency_format }}';
{% endif %}

var shopCurrency = '{{ shop.currency }}';

/* Sometimes merchants change their shop currency, let's tell our JavaScript file */
Currency.money_with_currency_format[shopCurrency] = {{ shop.money_with_currency_format | strip_html | json }};
Currency.money_format[shopCurrency] = {{ shop.money_format | strip_html | json }};

if ($(window).width() >= 798) {
  var $currencySelector = $(".header select.currencies");
} else {
  var $currencySelector = $("#nav select.currencies");
}

/* Default currency */
var defaultCurrency = '{{ settings.default_currency }}' || shopCurrency;

/* Cookie currency */
var cookieCurrency = Currency.cookie.read();

/* Fix for customer account pages */
$('span.money span.money').each(function() {
  $(this).parents('span.money').removeClass('money');
});

/* Saving the current price */
$('span.money').each(function() {
  $(this).attr('data-currency-{{ shop.currency }}', $(this).html());
});

// If there's no cookie.
if (cookieCurrency == null) {
  if (shopCurrency !== defaultCurrency) {
    Currency.convertAll(shopCurrency, defaultCurrency);
  }
  else {
    Currency.currentCurrency = defaultCurrency;
  }
}
// If the cookie value does not correspond to any value in the currency dropdown.
else if ($currencySelector.length && $currencySelector.find('option[value=' + cookieCurrency + ']').length === 0) {
  Currency.currentCurrency = shopCurrency;
  Currency.cookie.write(shopCurrency);
}
else if (cookieCurrency === shopCurrency) {
  Currency.currentCurrency = shopCurrency;
}
else {
  Currency.convertAll(shopCurrency, cookieCurrency);
}

$currencySelector.val(Currency.currentCurrency).change(function() {
  var newCurrency = $(this).val();
  Currency.convertAll(Currency.currentCurrency, newCurrency);
  $('.selected-currency').text(Currency.currentCurrency);
});

var original_selectCallback = window.selectCallback;
var selectCallback = function(variant, selector) {
  original_selectCallback(variant, selector);
  Currency.convertAll(shopCurrency, $currencySelector.val());
  $('.selected-currency').text(Currency.currentCurrency);
};

$('.selected-currency').text(Currency.currentCurrency);

function convertCurrencies() {
  if($currencySelector.val() && $currencySelector.val() != $currencySelector.data('default-shop-currency')) {
    Currency.convertAll($currencySelector.data('default-shop-currency'), $currencySelector.val());
    $('.selected-currency').text(Currency.currentCurrency);
  }
}

</script>

{% endif %}