{% if type == 'block' %}
  {% assign contact_heading = block.settings.contact_heading %}
  {% assign contact_content = block.settings.contact_content %}
  {% assign image = block.settings.image %}
  {% assign contact_text_position = block.settings.contact_text_position %}
  {% assign contact_text_alignment = block.settings.contact_text_alignment %}
{% else %}
  {% assign contact_heading = section.settings.contact_heading %}
  {% assign contact_content = section.settings.contact_content %}
  {% assign image = section.settings.image %}
  {% assign contact_text_position = section.settings.contact_text_position %}
  {% assign contact_text_alignment = section.settings.contact_text_alignment %}
{% endif %}

<section class="contact-container">
  <div class="container">
    <div class="contact_form {% if image %}contact_text_position--{{ contact_text_position }}{% endif %} contact_text_alignment--{{ contact_text_alignment }}">
      {% if image %}
        <div class="eight columns contact_image">
          <div class="contact_image--{{ contact_text_position }}">
            <img  class="lazyload lazyload--fade-in"
                  alt="{{ image.alt }}"
                  style="max-width: {{- image.width -}}px;"
                  data-sizes="auto"
                  data-aspectratio="{{ image.width }}/{{ image.height }}"
                  data-src="{{ image | img_url: '2048x' }}"
                  data-srcset=" {{ image | img_url: '2048x' }} 2048w,
                                {{ image | img_url: '1600x' }} 1600w,
                                {{ image | img_url: '1200x' }} 1200w,
                                {{ image | img_url: '1000x' }} 1000w,
                                {{ image | img_url: '800x' }} 800w,
                                {{ image | img_url: '600x' }} 600w,
                                {{ image | img_url: '400x' }} 400w"
                  />
            <noscript>
              <img class="lazyload" data-src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}">
            </noscript>
          </div>
        </div>
      {% endif %}
      <div class="eight columns {% unless image %}offset-by-four{% endunless %} contact_content">
        {% if contact_heading != blank %}
          <h2 class="headline">{{ contact_heading }}</h2>
        {% endif %}
        {% if contact_content != blank %}
          <div class="contact_text">{{ contact_content }}</div>
        {% endif %}
        {% form 'contact', id: "form-contact"%}
          {% if form.posted_successfully? %}
            <p class="quote">{{ 'contact.form.post_success' | t }}</p>
          {% endif %}

          {% if form.errors %}
            <p class="quote">{{ 'general.forms.post_error' | t }}</p>

            {% assign message = 'contact.form.message' | t %}
            <ul class="center">
              {% for field in form.errors %}
                {% if field == 'form' %}
                  <li>
                    {{ form.errors.messages[field] }}
                  </li>
                {% else %}
                  <li>
                    {% assign field_name = field | replace: 'body', message %}
                    {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
          {% endif %}

            <div class="four columns alpha">
            {% assign name_attr = 'contact.form.name' | handle %}
            <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
            <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
            </div>
            <div class="four columns omega">
            <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
            <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
            </div>

          <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
          <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>

          <input type="submit" class="submit action_button" value="{{ 'contact.form.send' | t }}" />
        {% endform %}
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
</section>