{% if type == 'block' %}
  {% assign image = block.settings.image %}
  {% assign title = block.settings.title %}
  {% assign content = block.settings.content %}
  {% assign text_size = block.settings.text_size %}
  {% assign text_alignment = block.settings.text_alignment %}
  {% assign button_label = block.settings.button_label %}
  {% assign button_link = block.settings.button_link %}
{% else %}
  {% assign image = section.settings.image %}
  {% assign title = section.settings.title %}
  {% assign content = section.settings.content %}
  {% assign text_size = section.settings.text_size %}
  {% assign text_alignment = section.settings.text_alignment %}
  {% assign button_label = section.settings.button_label %}
  {% assign button_link = section.settings.button_link %}
{% endif %}

<div class="homepage_content clearfix">
  <div class="container">
    <div class="sixteen columns">
      <div class="section {{ block.settings.text_alignment }} clearfix">
        {% if block.settings.image %}
          <figure class="rich_text__image">
            <img  class="lazyload lazyload--fade-in"
                  alt="{{ block.settings.image.alt }}"
                  data-sizes="auto"
                  data-aspectratio="{{ block.settings.image.width }}/{{ block.settings.image.height }}"
                  data-src="{{ block.settings.image | img_url: '2048x' }}"
                  data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                                {{ block.settings.image | img_url: '1600x' }} 1600w,
                                {{ block.settings.image | img_url: '1200x' }} 1200w,
                                {{ block.settings.image | img_url: '1000x' }} 1000w,
                                {{ block.settings.image | img_url: '800x' }} 800w,
                                {{ block.settings.image | img_url: '600x' }} 600w,
                                {{ block.settings.image | img_url: '400x' }} 400w"
                  />
            <noscript>
              <img class="lazyload" data-src="{{ block.settings.image | img_url: '2048x' }}" alt="{{ block.settings.image.alt | escape }}">
            </noscript>
          </figure>
        {% endif %}

        {% if block.settings.title != blank %}
          <h2 class="title">
            {{ block.settings.title | escape }}
          </h2>
        {% endif %}

        <div class="{{ block.settings.text_size }}">
          {% if block.settings.content != blank %}
            {{ block.settings.content }}
          {% endif %}

          {% if block.settings.button_label != blank and block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}">
              {{ block.settings.button_label | escape }}
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
</div>