{% if settings.newsletter_popup %}
  <a id="newsletter" href="#target"></a>
  <span style="display: none;">
   <span id="target">
    {% if settings.newsletter_popup_link != blank %}
      <a href="{{ settings.newsletter_popup_link }}">
    {% endif %}

    {% if settings.newsletter_popup_title != blank %}
      <p class="headline">
        {{ settings.newsletter_popup_title }}
      </p>
    {% endif %}

    {% if settings.newsletter_popup_image %}
      <p>
        {% assign img_size = settings.newsletter_popup_max_width | append: 'x' %}
        {{ settings.newsletter_popup_image | img_url: img_size, scale: 2 | img_tag: settings.newsletter_popup_image.alt, 'lazyload lazyload--fade-in' }}
      </p>
    {% endif %}

    {% if settings.newsletter_popup_text != blank %}
      {{ settings.newsletter_popup_text }}
    {% endif %}

    {% if settings.newsletter_popup_link != blank %}
      </a>
    {% endif %}

    {% if settings.newsletter_popup_form %}
      {% include 'newsletter' %}
    {% endif %}
    </span>
  </span>

  <script async type="text/javascript">
    
    function openNewsletterPopup() {
      setTimeout( function() {
        $('#newsletter').fancybox({wrapCSS: 'newsletter_popup', padding: [40, 40, 40, 40], scrolling: false, maxWidth: {% if settings.newsletter_popup_max_width != blank %}{{ settings.newsletter_popup_max_width }}{% else %}600{% endif %}, minWidth: 250});
        $('#newsletter').trigger('click');
      },
      {% if settings.newsletter_popup_seconds != blank %}{{ settings.newsletter_popup_seconds }}{% else %}2{% endif %}*1000);
    }

    $(function() {
      var popup = $.cookie('popup');
      var cookie_enabled = {% if settings.newsletter_popup_days != blank and settings.newsletter_popup_days != "0" %}true{% else %}false{% endif %};

      if (cookie_enabled && popup == 'open') {
          return false;
      } else if ({{ settings.newsletter_popup_mobile }} || $(window).width() > 798) {
        openNewsletterPopup();
      }
      if (cookie_enabled) {
        $.cookie('popup', 'open', { expires: {{ settings.newsletter_popup_days }} });
      }
    });
  </script>
{% endif %}
