{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

<div class="flexslider product_gallery product-{{ product.id }}-gallery {% if product-images == blank %}product_slider{% endif %}">
  <ul class="slides">
    {% for image in product.images %}
      {% if section.settings.set_product_height %}
        {% assign product_height = section.settings.product_height | plus: 0 %}
        {% assign product_aspect_ratio = image.aspect_ratio | plus: 0 %}
        {% assign product_set_width = product_aspect_ratio | times: product_height %}

        {% if image.width >= image.height %}
          {% assign align_height_value = 'width: 100%; height: auto;' %}
        {% else %}
          {% assign align_height_value = 'width: 100%;' %}
        {% endif %}

      {% endif %}

      <li data-thumb="{{ image | product_img_url: '300x' }}" data-title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title }}{% else %}{{ image.alt | escape }}{% endif %}">
        {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
          {% assign src = image.alt | split: 'src="' %}
          {% assign src = src[1] | split: '"' | first %}

          {% if src contains '?' %}
            {% assign src = src | append: '&amp;autoplay=1' %}
          {% else %}
            {% assign src = src | append: '?autoplay=1' %}
          {% endif %}

          <div class="video-container {% if image.alt contains 'vimeo' %}vimeo{% else %}youtube{% endif %}">
            <div>
              <a href="{{ src }}" class="fancybox fancybox.iframe" data-fancybox-group="{{ product.id }}" title="{{ product.title | escape }}">
                {{ image.alt }}
              </a>
            </div>
          </div>

          {% if forloop.length == 1 and settings.thumbnail_position == "no-thumbnails" %}
            <style>
              .product-{{ product.id }} .flex-direction-nav {
                display: none;
              }
            </style>
          {% endif %}
        {% else %}
          <a href="{{ image | product_img_url: '2048x' }}" class="fancybox" rel="group" data-fancybox-group="{{ product.id }}" title="{{ image.alt | escape }}">
            <div class="image__container" style="{% if section.settings.set_product_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {{- image.width -}}px; {% endif %}">
              <noscript>
                <img class="lazyload" data-src="{{ image | img_url: '2048x' }}" alt="{{ image.alt | escape }}">
              </noscript>
              <img  data-sizes="auto"
                    data-aspectratio="{{ image.width }}/{{ image.height }}"
                    alt="{{ image.alt | escape }}"
                    class="lazyload lazyload--mirage {% if featured_image.id == image.id %}featured_image{% endif %}"
                    style="{{ align_height_value }} max-width: {{- image.width -}}px;"
                    data-image-id="{{ image.id }}"
                    data-index="{{ forloop.index0 }}"
                    data-cloudzoom="zoomImage: '{{ image | product_img_url: '2048x' }}', tintColor: '{{ settings.shop_bg_color }}', zoomPosition: 'inside', zoomOffsetX: 0, touchStartDelay: 250, lazyLoadZoom: true"
                    data-src="{{ image | product_img_url: '2048x' }}"
                    data-srcset=" {{ image | product_img_url: '2048x' }} 2048w,
                                  {{ image | product_img_url: '1600x' }} 1600w,
                                  {{ image | product_img_url: '1200x' }} 1200w,
                                  {{ image | product_img_url: '1000x' }} 1000w,
                                  {{ image | product_img_url: '800x' }} 800w,
                                  {{ image | product_img_url: '600x' }} 600w,
                                  {{ image | product_img_url: '400x' }} 400w"
                  />
                <div class="transition-helper">
                </div>
            </div>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
   <script async type="text/javascript" >
    lazyload();
  </script>
</div>