<style media="all">
  
.preview-namenecklace {
    width: 100%;
    display: flex;
}
  
.preview-namenecklace #showtext.showtext {
    background-color: transparent;
    padding-left: 6px;
}
  
.hundred-percent-alphabet .pri-name {
    font-size: 14px;
    color: #000;
    margin-top: 0px;
    height: 50px;
    line-height: 50px;
}
  
.pri-name {
    text-align: left;
}
  
.preview-namenecklace #showtext.showtext {
    background-color: transparent;
    padding-left: 6px;
}
  

.view-namenecklace-right .alphafied-input {
    width: 100%;
}
  
.alphafied-input {
    
    margin-left: -1px;
    position: relative;
}
  

.leftnum {
    display: inline-block;
    position: relative;
    right: 20px;
    height: 60px;
    line-height: 60px;
    top: 0;
}
  

.validation-advice {
    position: relative;
}
  
.validation-advice {
    clear: both;
    min-height: 13px;
    margin: 3px 0 0;
    padding-left: 10px;
    font-size: 11px;
    line-height: 13px;
    color: #eb340a;
    text-align: left;
}
  
input input {
    height: 50px;
    border: 1px solid #d6d6d6;
}
  
.alphafied-input input {
    width: 100%;
    margin-top:10px;
}
.pl20 {
    padding-left: 20px;
}
  

#showtext {
    border: 0px;
}
.showtext {
    text-align:left;
    height: 40px;
    line-height: 50px;
    width: 100%;
    float: left;
    margin-top:-14px;
    font-style: italic;
    font-weight: bold;
}
  
@font-face {
    font-family: 'Commercial-Script';
    src: url('{{ "Commercial-Script.woff" | asset_url }}') format("woff"),
         url('{{ "Commercial-Script.woff2" | asset_url }}') format("woff2"),
         url('{{ "Commercial-Script.ttf" | asset_url }}') format("truetype"),
         url('{{ "Commercial-Script.svg" | asset_url }}') format("svg"),
         url('{{ "Commercial-Script.eot" | asset_url }}') format("embedded-opentype")
             
}
  
@font-face {
    font-family: 'GreatVibes-Regular';
    src: url('{{ "GreatVibes-Regular.woff" | asset_url }}') format("woff"),
         url('{{ "GreatVibes-Regular.woff2" | asset_url }}') format("woff2"),
         url('{{ "GreatVibes-Regular.ttf" | asset_url }}') format("truetype"),
         url('{{ "GreatVibes-Regular.svg" | asset_url }}') format("svg"),
         url('{{ "GreatVibes-Regular.eot" | asset_url }}') format("embedded-opentype")
             
}
  
@font-face{
  font-family: 'Scriptina';
  src: url('{{"Scriptina.woff" | asset_url}}') format("woff"),
       url('{{"Scriptina.woff2" | asset_url}}') format("woff2"),
       url('{{"Scriptina.ttf" | asset_url}}') format("truetype"),
       url('{{"Scriptina.svg" | asset_url}}') format("svg"),
       url('{{"Scriptina.eot" | asset_url}}') format("embedded-opentype")
  
}
  
 

@font-face {
  font-family: 'Bernadette';
   src:url('{{"Bernadette.woff" | asset_url}}') format("woff"),
       url('{{"Bernadette.woff2" | asset_url}}') format("woff2"),
       url('{{"Bernadette.ttf" | asset_url}}') format("truetype"),
       url('{{"Bernadette.svg" | asset_url}}') format("svg"),
       url('{{"Bernadette.eot" | asset_url}}') format("embedded-opentype")
}
  

@font-face {
  font-family: 'Brushgyo';
   src:url('{{"brushgyo.woff" | asset_url}}') format("woff"),
       url('{{"brushgyo.woff2" | asset_url}}') format("woff2"),
       url('{{"brushgyo.ttf" | asset_url}}') format("truetype"),
       url('{{"brushgyo.svg" | asset_url}}') format("svg"),
       url('{{"brushgyo.eot" | asset_url}}') format("embedded-opentype")
}
  
@font-face {
  font-family: 'Lavanderia-Regular';
   src:url('{{"Lavanderia-Regular.woff" | asset_url}}') format("woff"),
       url('{{"Lavanderia-Regular.woff2" | asset_url}}') format("woff2"),
       url('{{"Lavanderia-Regular.ttf" | asset_url}}') format("truetype"),
       url('{{"Lavanderia-Regular.svg" | asset_url}}') format("svg"),
       url('{{"Lavanderia-Regular.eot" | asset_url}}') format("embedded-opentype")
}
  
</style>


<div id="previewContainer" class= "ww" >
  <div class="preview-namenecklace">
     <div class="pri-name">Preview:</div>
     <div id="showtext" class="showtext" style="font-family:Commercial-Script;color:#eac855;font-size: 30px;"></div>
  </div>
</div>

<script type="text/javascript">
  
     /**
     *Function that adds the selected font option to the "showtext" preview
     */
     function edValueKeyPress(event){
    	let value = event.target.value;
   		document.getElementById("showtext").innerText = value;
	 }
  
     
     var el = document.querySelector("div.product-customizer-option.option-type-select");
  	 
     console.log('Font element:' + el);
  
     if(el){
       
         console.log('Adding event listener');
         
         /*event listener for settting the preview text on or off , 
           depending if the 'choose font' selector exists*/
         document.addEventListener('DOMContentLoaded',()=> {
               el.onchange=changeEventHandler;
         });
     }
     
     else{
        console.log('No choose font selector was found');
        document.getElementById("previewContainer").style.display = 'none'; //if it doesn't hide the div preview
     }


     function changeEventHandler(event) {
        // You can use “this” to refer to the selected element.
       // if(!event.target.value) alert('Please Select One');
      
       console.log('You like ' + event.target.value + ' font.'); 

       if(event.target.value == 'Commercial-Script'){
         document.getElementById("showtext").style.fontFamily = 'Commercial-Script'; 
       }
       
       if(event.target.value == 'GreatVibes-Regular'){
         document.getElementById("showtext").style.fontFamily = 'GreatVibes-Regular'; 
       }
       
       if(event.target.value == 'Scriptina'){
         document.getElementById("showtext").style.fontFamily = 'Scriptina';
       }
       
       
       if(event.target.value == 'Bernadette'){
         document.getElementById("showtext").style.fontFamily = 'Bernadette';
       }
       
       if(event.target.value == 'Brushgyo'){
         document.getElementById("showtext").style.fontFamily = 'Brushgyo';
       }
       
       if(event.target.value == 'Lavanderia'){
         document.getElementById("showtext").style.fontFamily = 'Lavanderia-Regular';
       }
           
     }
</script>