<div class="content container main_content_area">
  <div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title"><a href="/account">{{ 'customer.account.details' | t }}</a></h1>
  </div>

  <div class="sixteen columns breadcrumb">
    <div class="clearfix breadcrumb_text">
      <div class="right">
        <a href="/account" title="{{ 'layout.customer.my_account' | t }}">{{ customer.name }}</a> 
        &nbsp; / &nbsp;
        {{ 'layout.customer.log_out' | t | customer_logout_link }}
      </div>
    </div>
  </div>

  <div class="section clearfix">  
    <div class="sixteen columns">
    
      <h4>{{ 'customer.order.title' | t: name: order.name }}</h4>

      <p>{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

      {% if order.cancelled %}
        <div class="errors">
          {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" %}
          <p class="h5">{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
          <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
        </div>
      {% endif %}

      <table id="order_details" width="100%">
        <thead>
          <tr>
            <th>{{ 'customer.order.product' | t }}</th>
            <th>{{ 'customer.order.sku' | t }}</th>
            <th>{{ 'customer.order.price' | t }}</th>
            <th class="text-right">{{ 'customer.order.quantity' | t }}</th>
            <th class="text-right">{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody>
          {% for line_item in order.line_items %}
          <tr id="{{ line_item.id }}" style="{% include 'product-customizer-helper' with 'hide-pricing-item-row', item: line_item %}">
            <td>
              {{ line_item.title | link_to: line_item.product.url }}
              {% include 'product-customizer-helper', item: line_item %}
              {% if line_item.fulfillment %}
                <div class="note">
                  {% assign created_at = line_item.fulfillment.created_at | date: "%b %d" %}
                  {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                  {% if line_item.fulfillment.tracking_number %}
                    <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                  {% endif %}
                </div>
              {% endif %}
            </td>
            <td>{{ line_item.sku }}</td>
            <td>
              <span class="money">{% include 'product-customizer-helper' with 'item-price', item: line_item, items: order.line_items %}</span>
            </td>
            <td class="text-right">{{ line_item.quantity }}</td>
            <td class="text-right">
              <span class="money">{% capture item_price %}{% include 'product-customizer-helper' with 'item-price', item: line_item, items: order.line_items, raw: true %}{% endcapture %}
	            {{ line_item.quantity | times: item_price | money }}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class="align_right">{{ 'customer.order.subtotal' | t }}</td>
            <td class="text-right">
              <span class="money">{{ order.subtotal_price | money }}</span>
            </td>
          </tr>

          {% for discount in order.discounts %}
            <tr class="order_summary discount">
              <td colspan="4" class="align_right">{{ discount.code }} {{ 'customer.order.discount' | t }}</td>
              <td class="text-right">
                <span class="money">{{ discount.savings | money }}</span>
              </td>
            </tr>
          {% endfor %}

          {% for shipping_method in order.shipping_methods %}
          <tr>
            <td colspan="4" class="align_right">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
            <td class="text-right">
              <span class="money">{{ shipping_method.price | money }}</span>
            </td>
          </tr>
          {% endfor %}

          {% for tax_line in order.tax_lines %}
            <tr>
              <td colspan="4" class="align_right">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
              <td class="text-right">
                <span class="money">{{ tax_line.price | money }}</span>
              </td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="4" class="align_right"><strong>{{ 'customer.order.total' | t }}</strong></td>
            <td class="text-right">
              <strong>
                <span class="money">{{ order.total_price | money }}</span>
                <span class="selected-currency">{{ order.currency }}</span>
              </strong>
            </td>
          </tr>
        </tfoot>
      </table>

      <div class="eight columns alpha">
        <h4>{{ 'customer.order.billing_address' | t }}</h4>

        <p><strong>{{ 'customer.order.payment_status' | t }}:</strong> {{ order.financial_status_label }}</p>

        <strong>{{ order.billing_address.name }}</strong>
        <p>
          {% if order.billing_address.company != '' %}
            {{ order.billing_address.company }}<br>
          {% endif %}
          {{ order.billing_address.street }}<br>
          {{ order.billing_address.city }}<br>
          {% if order.billing_address.province != '' %}
            {{ order.billing_address.province }}<br>
          {% endif %}
          {{ order.billing_address.zip | upcase }}<br>
          {{ order.billing_address.country }}<br>
          {{ order.billing_address.phone }}
        </p>
      </div>

      <div class="eight columns omega">
        <h4>{{ 'customer.order.shipping_address' | t }}</h4>

        <p><strong>{{ 'customer.order.fulfillment_status' | t }}:</strong> {{ order.fulfillment_status_label }}</p>

        <strong>{{ order.shipping_address.name }}</strong>
        <p>
          {% if order.shipping_address.company != '' %}
            {{ order.shipping_address.company }}<br>
          {% endif %}
          {{ order.shipping_address.street }}<br>
          {{ order.shipping_address.city }}<br>
          {% if order.shipping_address.province != '' %}
            {{ order.shipping_address.province }}<br>
          {% endif %}
          {{ order.shipping_address.zip | upcase }}<br>
          {{ order.shipping_address.country }}<br>
          {{ order.shipping_address.phone }}
        </p>
      </div>

    </div>
  </div>
</div>