{% capture content %}
<!DOCTYPE html>
<html lang="{{ shop.locale }}" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <!-- Mobile Specific Metas -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">

  <!-- Stylesheets for Retina 4.5.7 -->
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  <!--[if lte IE 9]>
    {{ 'ie.css' | asset_url | stylesheet_tag }}
  <![endif]-->

  {% if settings.favicon != nil %}
    <link media="all" rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
  {% else %}
    <link media="all" rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {% endif %}

  <link media="all" rel="canonical" href="{{ canonical_url }}" />

  
</head>

<body id="password-page-bg">
  {% if template contains 'customer' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'app.js' | asset_url | script_tag }}
  {{ content_for_header }}
  
  {{ content_for_layout }}
</body>

</html>
{% endcapture %}
{% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
{% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</'}}{% endfor %}
