{% paginate article.comments by 100 %}

{% if article.image and section.settings.slideshow_article_enabled %}
  <div class="banner-flexslider banner-section slideshow_article_darken--{{section.settings.slideshow_post_darken}} wide_display--true">
    <ul class="slides">
      <li>
        <img  alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
              src="{{ article.image | img_url: '300x' }}"
              data-src="{{ article.image | img_url: '2048x' }}"
              class="lazyload lazyload--fade-in"
              sizes="100vw"
              srcset="  {{ article.image | img_url: '2048x' }} 2048w,
                        {{ article.image | img_url: '1600x' }} 1600w,
                        {{ article.image | img_url: '1200x' }} 1200w,
                        {{ article.image | img_url: '1000x' }} 1000w,
                        {{ article.image | img_url: '800x' }} 800w,
                        {{ article.image | img_url: '600x' }} 600w,
                        {{ article.image | img_url: '400x' }} 400w"
             />
      </li>
    </ul>
  </div>
{% endif %}

{% comment %}Check to see if sidebar should be enabled{% endcomment %}
{% if section.blocks.size > 0 %}
  {% assign sidebar = true %}
{% else %}
  {% assign sidebar = false %}
{% endif %}

<div class="main_content_area content container">
  <div class="twelve columns {% if sidebar == false %}offset-by-two{% endif %}">
      {% if section.settings.blog_breadcrumb %}
        <div class="clearfix breadcrumb">
          <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a><meta itemprop="position" content="1" /></span>
            &nbsp; / &nbsp;
            <span itemprop="itemListElement"itemscope itemtype="http://schema.org/ListItem"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="item"><span itemprop="name">{{ blog.title }}</span></a><meta itemprop="position" content="2" /></span>
            &nbsp; / &nbsp;
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">{{ article.title }}</span><meta itemprop="position" content="3" /></span>
          </div>
        </div>
      {% endif %}

      {% if section.settings.blog_tags %}
        <div class="blog_meta tags {% if article.image and section.settings.slideshow_article_enabled %}right{% endif %}">
          {% for tag in article.tags %}
            <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
          {% endfor %}
        </div>
      {% endif %}

        <h1 class="article_name">{{ article.title }}</h1>

        <p class="blog_meta">
          {% if section.settings.blog_author %}
            <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
          {% endif %}

          {% if section.settings.blog_date %}
            <span>{{ article.published_at | date: format: "month_day_year" }}</span>
          {% endif %}

          {% if section.settings.blog_comment_count %}
            {% if settings.disqus_enabled %}
              <span>
                <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
              </span>
            {% elsif article.comments_enabled? and article.comments_count > 0 %}
              <span>
                <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
              </span>
            {% endif %}
          {% endif %}
        </p>

        {% if article.image and section.settings.slideshow_article_enabled == false %}
          <p>
            <img  alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
                  src="{{ article.image | img_url: '300x' }}"
                  data-src="{{ article.image | img_url: '2048x' }}"
                  class="lazyload lazyload--fade-in"
                  sizes="100vw"
                  srcset="  {{ article.image | img_url: '2048x' }} 2048w,
                            {{ article.image | img_url: '1600x' }} 1600w,
                            {{ article.image | img_url: '1200x' }} 1200w,
                            {{ article.image | img_url: '1000x' }} 1000w,
                            {{ article.image | img_url: '800x' }} 800w,
                            {{ article.image | img_url: '600x' }} 600w,
                            {{ article.image | img_url: '400x' }} 400w"
                 />
          </p>
        {% endif %}

        {{ article.content }}

        <span class="clear"></span>

        {% if section.settings.display_social_buttons %}
          <br class="clear" />
          {% include "social-buttons" with "article" %}
          <br class="clear" />
        {% endif %}
        <br class="clear" />

        {% if section.settings.blog_author %}
          <hr />
          <div class="gravatar two columns alpha center" data-email="{{ article.user.email }}">
            <img class="lazyload" data-src="//1.gravatar.com/avatar/{{ article.user.email | md5 }}?s=160&r=G" alt="{{ article.author }}" />
          </div>
          <div class="comment-body eight columns omega">
            <h6>{{ article.author }}</h6>
            <p class="meta">
              <span class="label">{{ 'blogs.article.author' | t }}</span>
            </p>
            <p>
              {{ article.user.bio }}
            </p>
          </div>
        {% endif %}

        <div class="clear" id="comments"></div>
        <br class="clear" />

        {% if settings.disqus_enabled %}
          <div id="disqus_thread"></div>
          <script async defer>
              var disqus_config = function () {
                  this.page.url = "{{ canonical_url }}";
                  this.page.identifier = "{{ article.id }}";
              };
              (function() {
                  var d = document, s = d.createElement('script');
                  s.src = '//{{ settings.disqus_shortname }}.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        {% elsif blog.comments_enabled? %}
          {% if article.comments_count > 0 %}
            <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>

            {% for comment in article.comments %}
              <div id="comment-{{ comment.id }}" class="comment clearfix">
                <div class="gravatar two columns alpha center" data-email="{{ comment.email }}">
                  <img data-src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&r=G" alt="{{ comment.author }}" />
                </div>
                <div class="comment-body eight columns omega">
                  <h6>{{ comment.author }}</h6>
                  <p class="meta">
                    <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                  </p>

                  {{ comment.content }}
                </div>
              </div>
            {% endfor %}
          {% endif %}

          {% if comment and comment.created_at %}
            {% if article.comments_count == 0 %}
              <h4>{{ 'blogs.comments.response_count' | t: count: article.comments.size }}</h4>
            {% endif %}
            <div id="comment-{{ comment.id }}" class="comment clearfix">
              <div class="gravatar two columns alpha center">
                <img data-src="//1.gravatar.com/avatar/{{ comment.email | md5 }}?s=80&r=G" alt="{{ comment.author }}" />
              </div>
              <div class="comment-body eight columns omega">
                <h6>{{ comment.author }}</h6>
                <p class="meta">
                  <span class="label">{{ comment.created_at | date: format: "month_day_year" }}</span>
                </p>

                {{ comment.content }}
              </div>
            </div>
          {% endif %}

          {% include 'pagination', sidebar: sidebar %}

          <div class="clear" id="new-comment"></div>
          <h4 class="title">{{ 'blogs.comments.title' | t }}</h4>

          {% if blog.moderated? %}
            <p><em>{{ 'blogs.comments.moderated' | t }}</em></p>
          {% endif %}

          {% form article %}
            {% if form.posted_successfully? %}
              {% if blog.moderated? %}
                <p class="quote align_left">{{ 'blogs.comments.success_moderated' | t }}</p>
              {% else %}
                <p class="quote align_left">{{ 'blogs.comments.success' | t }}</p>
              {% endif %}
            {% endif %}

            {% if form.errors %}
              <p class="quote align_left">{{ 'general.forms.post_error' | t }}</p>
            {% endif %}

            <div class="six columns alpha">
              <label for="comment_author">{{ 'blogs.comments.name' | t }} <span class="red">*</span></label>
              <input type="text" id="comment_author" name="comment[author]" value="{{ form.author }}" required="required" />
            </div>

            <div class="six columns omega">
              <label for="comment_email">{{ 'blogs.comments.email' | t }} <span class="red">*</span></label>
              <input type="text" id="comment_email" name="comment[email]" value="{{ form.email }}" required="required" />
            </div>

            <label for="comment_body">{{ 'blogs.comments.comment' | t }} <span class="red">*</span></label>
            <textarea id="comment_body" name="comment[body]" rows="5" required="required">{{ form.body }}</textarea>

            <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="action_button add_to_cart" />
          {% endform %}
        {% endif %}

    {% if section.settings.blog_additional_articles and blog.articles_count > 1 %}
      <div class="section clearfix">
        <hr />
        <h3>{{ 'blogs.article.additional_articles' | t: title: blog.title }}</h3>

        {% assign article_found = false %}
        {% for a in blog.articles limit: 4 %}
          {% assign skip_article = false %}
          {% if article_found == false and forloop.last %}
            {% assign skip_article = true %}
          {% endif %}
          {% if article.id == a.id %}
            {% assign article_found = true %}
            {% assign skip_article = true %}
          {% endif %}
          {% unless skip_article %}
            <div class="four columns {% cycle 'alpha', ' ', 'omega' %} article">
              {% if a.image %}
                <a href="{{ a.url }}" title="{{ a.title | escape }}">
                  <img  alt="{% if a.image.alt != blank %}{{ a.image.alt }}{% else %}{{ a.title | escape }}{% endif %}"
                        data-src="{{ a.image | img_url: '1200x' }}"
                        class="lazyload lazyload--fade-in"
                        data-sizes="auto"
                        data-aspectratio="{{ a.image.width }}/{{ a.image.height }}"
                        data-srcset=" {{ a.image | img_url: '2048x' }} 2048w,
                                      {{ a.image | img_url: '1600x' }} 1600w,
                                      {{ a.image | img_url: '1200x' }} 1200w,
                                      {{ a.image | img_url: '1000x' }} 1000w,
                                      {{ a.image | img_url: '1000x' }} 900w,
                                      {{ a.image | img_url: '800x' }} 800w,
                                      {{ a.image | img_url: '600x' }} 600w,
                                      {{ a.image | img_url: '400x' }} 400w"
                         />
                  <noscript>
                    <img class="lazyload" data-src="{{ a.image | img_url: '2048x' }}" alt="{{ a.image.alt | escape }}">
                  </noscript>
                </a>
              {% endif %}

              {% if section.settings.blog_tags %}
                <div class="blog_meta tags">
                  {% for tag in a.tags %}
                    <span><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
                  {% endfor %}
                </div>
              {% endif %}

              <h5 class="sub_title">
                <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ a.title }}</a>
              </h5>
              <p class="blog_meta">
                {% if section.settings.blog_author %}
                  <span>{{ 'blogs.article.by_author' | t: author: a.author }}</span>
                {% endif %}

                {% if section.settings.blog_date %}
                  <span>{{ a.published_at | date: format: "month_day_year" }}</span>
                {% endif %}

                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ a.url }}#disqus_thread" data-disqus-identifier="{{ a.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                  </span>
                {% elsif a.comments_enabled? and a.comments_count > 0 %}
                  <span>
                    <a href="{{ a.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: a.comments_count }}</a>
                  </span>
                {% endif %}
              </p>

              {% if a.excerpt != blank %}
                {% assign postexcerpt = a.excerpt | size %}
                  {% if postexcerpt > 100 %}
                    {% assign excerptlength = 'lg' %}
                  {% elsif postexcerpt <= 50 %}
                    {% assign excerptlength = 'sm' %}
                  {% endif %}
                  <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                    {{ a.excerpt }}
                    <span class="truncation-fade"></span>
                  </div>
              {% endif %}
              {% if section.settings.read_more_link %}
                <p>
                  <a href="{{ a.url }}" title="{{ a.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
                </p>
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {% include "blog-sidebar", blog_handle: blog.handle %}
   <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  

  <script async type="text/javascript">
    // <![CDATA[
      $(function() {
        if(window.location.pathname.indexOf('/comments') != -1) {
          $('html,body').animate({scrollTop: $("#new-comment").offset().top-140},'slow');
        }
      });
    // ]]>
    
    lazyload();
  </script>
{% endpaginate %}
</div>

{% schema %}

{
  "name": "Blog post",
  "class": "article-template-section",
  "settings": [
      {
      "type": "checkbox",
      "id": "blog_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show blog post tags"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author"
    },

    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link for blog post excerpts",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_additional_articles",
      "label": "Show additional posts on blog post page",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "slideshow_article_enabled",
      "label": "Show article banner image",
      "info": "The blog post's featured image will be used as a full-width banner",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slideshow_post_darken",
      "label": "Darken blog post banner image",
      "default": false
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "search",
      "name": "Search form",
      "limit": 1
    },
    {
      "type": "newsletter",
      "name": "Newsletter sign up form",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "newsletter_richtext",
          "label": "Text"
        }
      ]
    },
    {
      "type": "recent_posts",
      "name": "Recent blog posts",
      "limit": 1
    },
    {
      "type": "post_tags",
      "name": "Blog post tags",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for details about blog authors or general information.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    }
  ]
}

{% endschema %}