<div class="container">
  <div class="section clearfix">
    <div class="sixteen columns">
      {% if section.settings.blog_widget_select != blank %}

        {% if section.settings.title != blank %}
          <h4 class="title">
            <a href="{{ blogs[section.settings.blog_widget_select].url }}">
              {{ section.settings.title | escape }}
            </a>
          </h4>
        {% endif %}

        {% for article in blogs[section.settings.blog_widget_select].articles limit: section.settings.home_page_articles %}
          <div class="{% if section.settings.home_page_articles == 2 %}eight columns {% cycle 'alpha','omega' %}{% elsif section.settings.home_page_articles == 3 %}one-third column {% cycle 'alpha','','omega' %}{% else %}four columns {% cycle 'alpha','','','omega' %}{% endif %} article">

            {% if article.image %}
              <a href="{{ article.url }}" title="{{ article.title | escape }}">
                <img  alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
                      data-src="{{ article.image | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in"
                      data-sizes="auto"
                      data-aspectratio="{{ article.image.width }}/{{ article.image.height }}"
                      data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                    {{ article.image | img_url: '1600x' }} 1600w,
                                    {{ article.image | img_url: '1200x' }} 1200w,
                                    {{ article.image | img_url: '1000x' }} 1000w,
                                    {{ article.image | img_url: '800x' }} 800w,
                                    {{ article.image | img_url: '600x' }} 600w,
                                    {{ article.image | img_url: '400x' }} 400w"
                />
                <noscript>
                  <img class="lazyload" data-src="{{ article.image | img_url: '2048x' }}" alt="{{ article.image.alt | escape }}">
                </noscript>
              </a>
            {% endif %}

            {% if section.settings.blog_tags %}
              <div class="blog_meta tags">
                {% for tag in article.tags %}
                  <span><a href="{{ shop.url}}/blogs/{{ blogs[section.settings.blog_widget_select].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[section.settings.blog_widget_select].title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
                {% endfor %}
              </div>
            {% endif %}

            <h5 class="sub_title">
              <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
            </h5>

            <p class="blog_meta">
              {% if section.settings.blog_author %}
                <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
              {% endif %}

              {% if section.settings.blog_date %}
                <span>{{ article.published_at | date: format: "month_day_year" }}</span>
              {% endif %}

              {% if section.settings.blog_comment_count %}
                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                  </span>
                {% elsif article.comments_enabled? and article.comments_count > 0 %}
                  <span>
                    <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                  </span>
                {% endif %}
              {% endif %}
            </p>

            {% if article.excerpt != blank %}
                {% assign postexcerpt = article.excerpt | size %}
                  {% if postexcerpt > 100 %}
                    {% assign excerptlength = 'lg' %}
                  {% elsif postexcerpt <= 50 %}
                    {% assign excerptlength = 'sm' %}
                  {% endif %}
                  <div class="excerpt excerpt-length--{{ excerptlength }} {{ postexcerpt }}">
                    {{ article.excerpt }}
                    <span class="truncation-fade"></span>
                  </div>
            {% endif %}

            {% if section.settings.read_more_link %}
              <p>
                <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
              </p>
            {% endif %}

          </div>
        {% endfor %}

      {% else %}

        {% if section.settings.title != blank %}
          <h4 class="title">
            <a href="#">
              {{ section.settings.title }}
            </a>
          </h4>
        {% endif %}

        {% for i in (1..section.settings.home_page_articles) %}
          <div class="{% if section.settings.home_page_articles == 2 %}eight columns {% cycle 'alpha','omega' %}{% elsif section.settings.home_page_articles == 3 %}one-third column {% cycle 'alpha','','omega' %}{% else %}four columns {% cycle 'alpha','','','omega' %}{% endif %} article">

            <a href="#">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg article_image' }}
            </a>

            <h5 class="sub_title">
              <a href="#" title="{{ 'homepage.onboarding.blogpost_title' | escape }}">{{ 'homepage.onboarding.blogpost_title' | t }}</a>
            </h5>

            <p class="blog_meta">
              {% if section.settings.blog_author %}
                <span>{{ 'homepage.onboarding.blog_author' | t: author: article.author }}</span>
              {% endif %}

              {% if section.settings.blog_date %}
                <span>{{ 'now' | date: format: "month_day_year" }}</span>
              {% endif %}

              {% if section.settings.blog_comment_count %}
                {% if settings.disqus_enabled %}
                  <span>
                    <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                  </span>
                {% elsif article.comments_enabled? and article.comments_count > 0 %}
                  <span>
                    <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                  </span>
                {% endif %}
              {% endif %}
            </p>

            {% if article.excerpt != blank %}
              {{ 'homepage.onboarding.blog_excerpt' | t }}
            {% endif %}

            {% if section.settings.read_more_link %}
              <p>
                <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span></a>
              </p>
            {% endif %}

          </div>
        {% endfor %}

      {% endif %}
    </div>
  </div>
  
  <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>

</div>

{% schema %}
{
  "name": "Blog posts",
  "class": "blog-posts-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "blog",
      "id": "blog_widget_select",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "home_page_articles",
      "label": "Posts",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_tags",
      "label": "Show blog post tags"
    },
    {
      "type": "checkbox",
      "id": "blog_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_comment_count",
      "label": "Show comment count",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "read_more_link",
      "label": "Show continue reading link for blog post excerpts",
      "default": true
    }
  ],
  "presets": [{
    "name": "Blog posts",
    "category": "Blog",
    "settings": {
    }
  }]
}
{% endschema %}
