{% assign collections_per_row = section.settings.frontpage_collections_per_row %}

<div class="container">
  {% if section.blocks.size > 0 %}
    {% if section.settings.title != blank %}
      <div class="sixteen columns">
        <h2 class="section-header title">
          {{ section.settings.title | escape }}
        </h2>
      </div>
    {% endif %}
    <div class="sixteen columns">
      <div class="section clearfix">
        <div class="featured_collections">
          {% for block in section.blocks %}

            {% assign feature_collection = block.settings.feature_collection %}
            {% assign collection = collections[feature_collection] %}

            {% if block.settings.image %}
              {% assign collection_image = block.settings.image %}
              {% assign collection_image_alt = block.settings.image.alt | escape %}
            {% elsif collection.image != blank %}
              {% assign collection_image = collection.image %}
              {% assign collection_image_alt = collection.title | escape %}
            {% else collection.empty? == false %}
              {% assign collection_image = collection.products.first.featured_image %}
              {% assign collection_image_alt = collection.products.first.featured_image.alt | escape %}
            {% endif %}

            {% if settings.align_height %}
              {% assign collection_height = settings.collection_height | plus: 0 %}
              {% assign product_aspect_ratio = collection_image.aspect_ratio | plus: 0 %}
              {% assign product_set_width = product_aspect_ratio | times: collection_height %}

              {% if collection_image.width >= collection_image.height %}
                {% assign align_height_value = 'width: 100%; height: auto;' %}
              {% else %}
                {% assign align_height_value = 'width: 100%;' %}
              {% endif %}

            {% endif %}

            <div class="{% if collections_per_row == 2 %}eight columns {% cycle 'alpha', 'omega' %}{% elsif collections_per_row == 3 %}one-third column {% cycle 'alpha', '', 'omega' %}{% elsif collections_per_row == 4 %}four columns {% cycle 'alpha', '', '', 'omega' %}{% else %}one-fifth column {% cycle 'alpha', '', '', '', 'omega' %}{% endif %} thumbnail {% if section.settings.collection_count == blank and section.settings.frontpage_collections_title == blank %}blank{% endif %} {% cycle 'even', 'odd' %}">

              <a href="{{ collection.url }}" title="{{ collection.title }}">
                {% if collection_image != nil %}
                  <div class="image__container" style="{% if settings.align_height %} max-width: {{ product_set_width }}px; {% else %} max-width: {{- collection_image.width -}}px; {% endif %}">
                    <img  class="lazyload lazyload--fade-in"
                          alt="{{ collection_image_alt }}"
                          style="{{ align_height_value }} max-width: {{- collection_image.width -}}px;"
                          data-sizes="auto"
                          data-aspectratio="{{ collection_image.width }}/{{ collection_image.height }}"
                          data-src="{{ collection_image.src | img_url: '2048x' }}"
                          data-srcset=" {{ collection_image.src | img_url: '2048x' }} 2048w,
                                        {{ collection_image.src | img_url: '1600x' }} 1600w,
                                        {{ collection_image.src | img_url: '1200x' }} 1200w,
                                        {{ collection_image.src | img_url: '1000x' }} 1000w,
                                        {{ collection_image.src | img_url: '800x' }} 800w,
                                        {{ collection_image.src | img_url: '600x' }} 600w,
                                        {{ collection_image.src | img_url: '400x' }} 400w"
                          />
                    <noscript>
                    <img class="lazyload" data-src="{{ collection_image.src | img_url: '2048x' }}" alt="{{ collection_image_alt }}">
                  </noscript>
                  </div>
                {% else %}
                  {% capture num %}{% cycle "1", "2", "3", "5", "6" %}{% endcapture %}
                  {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}

                <div class="info">
                  {% if section.settings.frontpage_collections_title %}
                    <span class="title">
                      {% if collection != blank %}
                        {{ collection.title }}
                      {% else %}
                        {{ "homepage.onboarding.collection_title" | t }}
                      {% endif %}
                    </span>
                  {% endif %}

                  {% if section.settings.collection_count %}
                    <span class="price">
                    {% if collection != blank %}
                      {{ 'layout.counts.items_with_count' | t: count: collection.all_products_count }}
                    {% else %}
                      {{ 'layout.counts.items_with_count' | t: count: 3 }}
                    {% endif %}
                    </span>
                  {% endif %}
                </div>
              </a>
            </div>

            {% if collections_per_row == 2 %}
              {% cycle '', '<br class="clear product_clear" />' %}
            {% elsif collections_per_row == 3 %}
              {% cycle '', '', '<br class="clear product_clear" />' %}
            {% elsif collections_per_row == 4 %}
              {% cycle '', '', '', '<br class="clear product_clear" />' %}
            {% elsif collections_per_row == 5 %}
              {% cycle '', '', '', '', '<br class="clear product_clear" />' %}
            {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  
   <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
  
</div>

{% schema %}
{
  "name": "Collection list",
  "class": "collection-list",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "range",
      "id": "frontpage_collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "frontpage_collections_title",
      "label": "Display collection title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_count",
      "label": "Display collection product count",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "feature_collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Collection list",
    "category": "Collection",
    "settings": {

    },
    "blocks": [
      {
        "type": "collection"
      },
      {
        "type": "collection"
      },
      {
        "type": "collection"
      }
    ]
  }]
}
{% endschema %}