{% if section.blocks.size > 0 %}
<div class="featured_links_style--{{ section.settings.featured_links_style }} container">
  <div class="sixteen columns featured_links">
    <div class="section clearfix">
      {% for block in section.blocks %}
        <div class="featured_links_block
          {% if section.settings.features_per_row == 2 %}
            eight columns {% cycle "alpha", "omega" %}
          {% elsif section.settings.features_per_row == 3 %}
            one-third column {% cycle "alpha", '', "omega" %}
          {% else %}
            four columns {% cycle "alpha", '', '', "omega" %}
          {% endif %}"
         {{ block.shopify_attributes }}>
          <a href="{{ block.settings.link }}">
            <div class="image_container {% if block.settings.image == nil %}onboarding{% endif %}">
              {% if block.settings.image != nil %}
                <img  alt="{{ block.settings.image.alt }}"
                      src="{{ block.settings.image | img_url: '300x' }}"
                      data-src="{{ block.settings.image | img_url: '2048x' }}"
                      class="lazyload lazyload--fade-in full-width-image"
                      sizes="100vw"
                      srcset="  {{ block.settings.image | img_url: '2048x' }} 2048w,
                                {{ block.settings.image | img_url: '1600x' }} 1600w,
                                {{ block.settings.image | img_url: '1200x' }} 1200w,
                                {{ block.settings.image | img_url: '1000x' }} 1000w,
                                {{ block.settings.image | img_url: '800x' }} 800w,
                                {{ block.settings.image | img_url: '600x' }} 600w,
                                {{ block.settings.image | img_url: '400x' }} 400w"
                     />
              {% else %}
                {% capture i %}{% cycle "1", "2", "3", "5", "6" %}{% endcapture %}
                {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
              {% endif %}
              {% if block.settings.title != blank %}
                <span>{{ block.settings.title | escape }}</span>
              {% endif %}
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  
  <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
  
</div>
{% endif %}

{% comment %}Add general settings so that they show up in section options{% endcomment %}
{% capture settings %}
  {
    "font": {{ settings.promotions_font }},
    "font_weight": {{ settings.promotions_weight }},
    "font_text_transform": {{ settings.promotions_font_style }},
    "font_style": {{ settings.promotions_font_text }},
    "font_size": {{ settings.promotions_size }},
    "text_shadow": {{ settings.promotions_shadow }}
  }
{% endcapture %}

{% schema %}
{
  "name": "Featured promotions",
  "class": "featured-promotions-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "select",
      "id": "featured_links_style",
      "label": "Animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "cross",
          "label": "Crossed lines"
        },
        {
          "value": "double_underline",
          "label": "Double underline"
        },
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "border",
          "label": "Square border"
        }
      ],
      "default": "cross"
    },
    {
      "type": "range",
      "id": "features_per_row",
      "label": "Promotions per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "name": "Promotion",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "420px wide minimum"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Promotion"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Featured promotions",
    "category": "Image",
    "settings": {

    },
    "blocks": [
      {
        "type": "promotion"
      },
      {
        "type": "promotion"
      },
      {
        "type": "promotion"
      }
    ]
  }]
}
{% endschema %}