<div class="sub-footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="columns">
        <img src="{{ 'footer-logo.png' | asset_url }}" alt="YOUR LOGO" />
      </div>
        {% for block in section.blocks %}
            {% if block.type == 'page' %}
              <div class="columns">
                  {% if block.settings.social_icons_footer %}
                    <div class="js-social-icons">
                      <ul class="social_icons">
                          {% include 'social-icons' %}
                      </ul>
                    </div>
                  {% endif %}
              </div>
                {% elsif block.type == 'link_list' %}
              <div class="columns">
                <ul class="footer_menu">
                    {% for link in linklists[block.settings.footer_linklist].links %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title }}</a>
                      </li>
                        {% for sub_link in link.links %}
                          <li>
                            <a href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                          </li>
                            {% for sub_sub_link in sub_link.links %}
                              <li>
                                <a href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                              </li>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>

                  {% if block.settings.social_icons_footer %}
                    <ul class="social_icons">
                        {% include 'social-icons' %}
                    </ul>
                  {% endif %}
              </div>
                {% for block in section.blocks %}
                    {% if block.type == 'text' %}
                        <div>
                            {% if block.settings.social_icons_footer %}
                                <ul class="social_icons">
                                    {% include 'social-icons' %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% elsif block.type == 'newsletter_form' %}
              <div class="columns">
                  {% if block.settings.newsletter_richtext != blank %}
                      {{ block.settings.newsletter_richtext }}
                  {% endif %}
                  {% include 'newsletter' %}

                  {% if block.settings.social_icons_footer %}
                    <ul class="social_icons">
                        {% include 'social-icons' %}
                    </ul>
                  {% endif %}
              </div>
            {% endif %}
        {% endfor %}
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
      {% for block in section.blocks %}
      {% if block.type == 'text' %}
          <div>
              {% if block.settings.social_icons_footer %}
                  <ul class="social_icons">
                      {% include 'social-icons' %}
                  </ul>
              {% endif %}
          </div>
      {% endif %}
      {% endfor %}
    <div>
      <p class="credits">
        &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
        {{ section.settings.copyright_text | escape }}
        {% if section.settings.display_designed_by == true %}
          {{ 'layout.general.designer_credits_html' | t }}
        {% endif %}
        {{ powered_by_link }}
      </p>
      {% if section.settings.display_payment_methods %}
        <div class="payment_methods">
          {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag: class:'payment-icon' }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright text"
    },
    {
      "type": "checkbox",
      "id": "display_designed_by",
      "label": "Show theme designer credits",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "display_payment_methods",
      "label": "Show payment method icons",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "newsletter_form",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
          {
            "type": "richtext",
            "id": "newsletter_richtext",
            "label": "Text",
            "default": "<p>Sign up to get the latest on sales, new releases and more…</p>"
          },
          {
            "type": "checkbox",
            "id": "social_icons_footer",
            "label": "Show social media footer icons",
            "default": false
          }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_linklist",
          "label": "Menu",
          "info": "This menu won't show drop-down items"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": false
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "limit": 1,
      "settings": [
        {
          "type": "page",
          "id": "footer_content_page",
          "label": "Content page"
        },
        {
          "type": "checkbox",
          "id": "social_icons_footer",
          "label": "Show social media footer icons",
          "default": true
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "checkbox",
        "id": "social_icons_footer",
        "label": "Show social media footer icons",
        "default": true
        }
      ]
    }
  ]
}
{% endschema %}
