{% assign images_per_row = section.settings.grid-size %}

<div class="gallery-section {% unless section.settings.wide_display %}container{% endunless %}">
  <div class="section clearfix">



    {% unless section.settings.wide_display %}
      <div class="sixteen columns">
    {% endunless %}

      {% if section.settings.title != blank %}
        <h4 class="title">
          {{ section.settings.title | escape }}
        </h4>
      {% endif %}

      {% if section.blocks.size > 0 %}
        <div class="gallery-bar">
          {% for block in section.blocks %}
            <div class="gallery_image {% if images_per_row == 2 %}two-per-row{% elsif images_per_row == 3 %}three-per-row{% else %}four-per-row{% endif %}" {{ block.shopify_attributes }}>
              {% if block.settings.image != blank %}
                <a href="{{ block.settings.image |  img_url: '2000x' }}" rel="gallery" class="lightbox {% if section.settings.select_layout == 'standard' %}add-padding{% endif %}">
                  <img  class="lazyload lazyload--fade-in"
                        alt="{{ block.settings.image.alt | escape }}"
                        style="max-width: {{- block.settings.image.width -}}px;"
                        data-sizes="auto"
                        data-aspectratio="{{ block.settings.image.width }}/{{ block.settings.image.height }}"
                        data-src="{{ block.settings.image | img_url: '2048x', crop: 'center' }}"
                        data-srcset=" {{ block.settings.image | img_url: '2048x', crop: 'center' }} 2048w,
                                      {{ block.settings.image | img_url: '1600x', crop: 'center' }} 1600w,
                                      {{ block.settings.image | img_url: '1200x', crop: 'center' }} 1200w,
                                      {{ block.settings.image | img_url: '1000x', crop: 'center' }} 1000w,
                                      {{ block.settings.image | img_url: '800x', crop: 'center' }} 800w,
                                      {{ block.settings.image | img_url: '600x', crop: 'center' }} 600w,
                                      {{ block.settings.image | img_url: '400x', crop: 'center' }} 400w"
                        />
                  <noscript>
                    <img class="lazyload" data-src="{{ block.settings.image | img_url: '2048x' }}" alt="{{ block.settings.image | escape }}">
                  </noscript>
                </a>
              {% else %}
                <div class="{% unless section.settings.wide_display %}add-padding{% endunless %}">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </div>

            {% if images_per_row == 2 %}
                {% cycle '', '<br class="clear" />' %}
              {% elsif images_per_row == 3 %}
                {% cycle '', '', '<br class="clear" />' %}
              {% elsif images_per_row == 4 %}
                {% cycle '', '', '', '<br class="clear" />' %}
              {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% unless section.settings.wide_display %}
      </div>
    {% endunless %}
  </div>
  
   <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
  
</div>

{% schema %}
  {
    "name": "Gallery",
    "class": "image-gallery-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Gallery"
      },
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "range",
        "id": "grid-size",
        "label": "Images per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "800 x 800px recommended"
          }
        ]
      }
    ],
     "presets": [
      {
        "name": "Gallery",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
