<section class="{% unless section.settings.wide_display %}container {% endunless %} wide_display--{{ section.settings.wide_display }}">
    <div class="banner-section homepage_slider">
      <ul class="slides">
        <li>
          {% if section.settings.link != blank %}
            <a href="{{ section.settings.link }}">
          {% endif %}
          {% if section.settings.image != nil %}
            <img  alt="{{ section.settings.image.alt }}"
                src="{{ section.settings.image | img_url: '300x' }}"
                data-src="{{ section.settings.image | img_url: '2048x' }}"
                class="lazyload lazyload--fade-in"
                sizes="100vw"
                srcset="  {{ section.settings.image | img_url: '2048x' }} 2048w,
                          {{ section.settings.image | img_url: '1600x' }} 1600w,
                          {{ section.settings.image | img_url: '1200x' }} 1200w,
                          {{ section.settings.image | img_url: '1000x' }} 1000w,
                          {{ section.settings.image | img_url: '800x' }} 800w,
                          {{ section.settings.image | img_url: '600x' }} 600w,
                          {{ section.settings.image | img_url: '400x' }} 400w"
               />
          {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
          {% endif %}

          {% if section.settings.link != blank %}
            </a>
          {% endif %}
          {% if section.settings.image != blank or section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %}
            <div class="flex-caption">
              <div class="container">
                <div class="columns {% if section.settings.text_position == 'left' %} nine offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-seven {% else %} ten offset-by-three {% endif %} align_{{ section.settings.text_align }}">
                  {% if section.settings.title != blank %}
                    <h1 class="headline">
                      {{ section.settings.title | escape }}
                    </h1>
                  {% endif %}
                  {% if section.settings.text != blank %}
                    <div class="subtitle">
                      {{ section.settings.text }}
                    </div>
                  {% endif %}
                  {% if section.settings.button_label != blank %}
                    <a {% if section.settings.link != blank %}href="{{ section.settings.link }}"{% endif %} class="action_button {% if settings.button_style == 'solid' %}action_button_solid{% endif %}">
                      {{ section.settings.button_label | escape }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </li>
      </ul>
    </div>
   <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
</section>

{% schema %}
  {
    "name": "Image with text overlay",
    "class": "image-with-text-overlay-section",
    "settings": [
      {
        "type": "checkbox",
        "id": "wide_display",
        "default": true,
        "label": "Wide display"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 600px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Your headline here"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>This is a short subheading for your banner image</p>"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "presets": [
      {
        "name": "Image with text overlay",
        "category": "Image",
        "settings": {
          "text_position": "center",
          "text_align": "center"
        }
      }
    ]
  }
{% endschema %}
