<section class="banner-section {% unless section.settings.wide_display %}main_content_area container {% endunless %} wide_display--{{ section.settings.wide_display }}">
  <div class="slider flexslider homepage_slider {% if section.settings.wide_display == false %}sixteen columns{% endif %}">
    <ul class="slides">
      <li>
        {% if section.settings.link != blank %}
          <a href="{{ section.settings.link }}">
        {% endif %}
        {% if section.settings.image != nil %}
          <img  data-src="{{ section.settings.image | img_url: '1200x' }}"
                alt="{{ section.settings.image.alt | escape }}"
                class="lazyload transition-in"
                sizes="100vw"
                srcset="{{ section.settings.image | img_url: '480x' }} 480w,
                        {{ section.settings.image | img_url: '768x' }} 768w,
                        {{ section.settings.image | img_url: '1200x' }} 1200w,
                        {{ section.settings.image | img_url: '2048x2048' }} 2048w"
                 />
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--banner' }}
        {% endif %}

        {% if section.settings.link != blank %}
          </a>
        {% endif %}
        {% if section.settings.image != blank or section.settings.title != blank or section.settings.subtext != blank or section.settings.button_label != blank %}
          <div class="flex-caption">
            <div class="container">
              <div class="columns {% if section.settings.text_position == 'left' %} nine offset-by-one {% elsif section.settings.text_position == 'right' %} eight offset-by-seven {% else %} ten offset-by-three {% endif %} align_{{ section.settings.text_align }}">
                {% if section.settings.title != blank %}
                  <h1 class="headline">
                    {{ section.settings.title | escape }}
                  </h1>
                {% else %}
                  <h1 class="headline">
                    {{ page.title }}
                  </h1>
                {% endif %}
                {% if section.settings.subtext != blank %}
                  <div class="subtitle">
                    {{ section.settings.subtext }}
                  </div>
                {% endif %}
                {% if section.settings.button_label != blank %}
                  <a {% if section.settings.link != blank %}href="{{ section.settings.link }}"{% endif %} class="action_button {% if settings.button_style == 'solid' %}action_button_solid{% endif %}">
                    {{ section.settings.button_label | escape }}
                  </a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endif %}
      </li>
    </ul>
  </div>
</section>

<div class="container">
  <div class="sixteen columns page">
    <br>
    {% include 'page-multi-column', content: page.content %}
  </div>
  
  <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
</div>

{% schema %}
  {
    "name": "Banner",
    "class": "banner-template-section banner-option",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 600px recommended"
      },
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "subtext",
        "label": "Text"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Link label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "default": {
      "settings": {
        "title": "Page Banner Template",
        "subtext": "<p>Create an amazing page with a full-width banner</p>",
        "text_align": "center",
        "button_label": "Call to action"
      }
    }
  }
{% endschema %}
