<div class="controls">
  <div id="open-me">
    <a href="#">{{ 'general.password_page.login_form_heading' | t }}</a>
  </div>
</div>

<div id="password-container" class="center">
  {% if section.settings.custom_logo != nil %}
    <div class="password-page-row">
      <div class="password-page-col">
        <img class="lazyload password-logo" data-src="{{ section.settings.custom_logo | img_url: '720x' }}" alt="{{ shop.name }}" />
      </div>
    </div>
  {% else %}
    <div class="password-page-row">
      <div class="password-page-col">
        <h1 class="logo">{{ shop.name }}</h1>
        <hr class="hr-small">
      </div>
    </div>
  {% endif %}
  <div class="password-page-row">
    <div class="password-page-col">
      <h2 class="password-page-message">{{ 'general.password_page.opening_soon' | t }}</h2>
    </div>
  </div>
  {% unless shop.password_message == blank %}
    <div class="password-page-row">
      <div class="password-page-col">
        <p class="password-message">{{ shop.password_message }}</p>
        <hr class="hr-small">
      </div>
    </div>
  {% endunless %}
  {% if section.settings.social_media %}
    <div class="password-page-row">
      <div class="password-page-col password-social">
        <h3 class="password-page-follow">{{ 'general.password_page.spread_the_word' | t }}</h3>
          <ul class="social_icons">
            {% include 'social-icons' %}
          </ul>
      </div>
    </div>
  {% endif %}
  <div class="password-page-row">
    <div class="password-page-col">
      <h3 class="password-page-follow">{{ 'general.password_page.signup_form_heading' | t }}</h3>
      {% if section.settings.newsletter_richtext != blank %}
        {{ section.settings.newsletter_richtext }}
      {% endif %}
      {% include 'newsletter' %}
    </div>
  </div>
  <div class="password-page-row">
    <div class="password-page-col">
      <div class="password-footer">
        <div class="powered">
          &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.<br>
          {{ 'layout.general.designer_credits_html' | t }}<br>
        </div>
        <div class="shopify">
          {{ 'general.password_page.powered_by_shopify_html' | t}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="overlay overlay-data">
  <span class="close-me controls"><div class="pass-close fancybox-close"><a href="#" class="icon-close"></a></div></span>
  <div class="modalbox">
    <div class="inputbox">
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        {% if form.errors.count > 0 %}
          <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
          </script>
        {% endif %}
        <label for='password'>{{ 'general.password_page.login_form_password_label' | t }} </label>
        <input type='password' name='password' id='password' autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
        <div class="actions">
          <input class="btn" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
        </div>
      {% endform %}
      <div id="owner">{{ 'general.password_page.admin_link_html' | t }} or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
    </div>
  </div>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  

<script async>
$(document).ready(function() {
  $('#open-me').on('click', function() {
    $('.overlay').addClass('overlay-open');
    $('#password').focus();
  });
  $('.close-me').on('click', function() {
    $('.overlay').removeClass('overlay-open');
  });
});
  
  lazyload();
</script>

<style>
#password-page-bg {
  {% if section.settings.use_background and section.settings.password-page-background == blank %}
    background: url({{ "password-page-background.jpg" | asset_url }}) center center;
  {% elsif section.settings.use_background and section.settings.password-page-background %}
    background: url({{ section.settings.password-page-background | img_url: '2000x' }}) center center;
  {% else %}
    background-color: {{ settings.password_page_background_color }};
  {% endif %}
  {% if section.settings.pagework_page_bg_stretched %}
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  {% endif %}
}
.password-logo {
  margin: 0 auto;
  max-width: {{ section.settings.logo_width }}px;
}
</style>

{% schema %}

{
  "name": "Password page",
  "class": "password-page",
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_logo",
      "label": "Logo",
      "info": "720px wide recommended"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "Logo display width",
      "step": 5,
      "min": 100,
      "max": 280,
      "default": 280,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "use_background",
      "label": "Use background image",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "password-page-background",
      "label": "Background image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "pagework_page_bg_stretched",
      "label": "Stretch background to fill the password page",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "newsletter_richtext",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social icons",
      "default": true
    }
  ]
}

{% endschema %}
