<div class="container">
  <div class="section clearfix">
    {% for block in section.blocks %}
      {% assign num_of_blocks = forloop.length %}
      {% if block.type == 'blog' %}
        <div class="{% if num_of_blocks > 1 %}eight columns{% endif %} " {{ block.shopify_attributes }}>
          {% if block.settings.blog_widget_select != blank %}

            {% if block.settings.title != blank %}
              <h2 class="title {% if num_of_blocks < 2 %}sixteen columns{% endif %}">
                <a href="{{ blogs[block.settings.blog_widget_select].url }}">
                  {{block.settings.title }}
                </a>
              </h2>
            {% endif %}

            {% for article in blogs[block.settings.blog_widget_select].articles limit: block.settings.home_page_articles %}
              {% if num_of_blocks > 1 %}
                <div class="clearfix article">
              {% else %}
                <div class="
                {% if num_of_blocks < 2 %}
                  {% if block.settings.home_page_articles == 1 %}sixteen columns{% elsif block.settings.home_page_articles == 2 %}eight columns{% elsif block.settings.home_page_articles == 3 %}one-third column{% else %}four columns{% endif %}
                {% endif %}
                  article clearfix">
              {% endif %}
                {% if article.image %}
                  <a href="{{ article.url }}" title="{{ article.title | escape }}">
                    <img  alt="{% if article.image.alt != blank %}{{ article.image.alt }}{% else %}{{ article.title | escape }}{% endif %}"
                          data-src="{{ article.image | img_url: '2048x' }}"
                          class="lazyload lazyload--fade-in"
                          data-sizes="auto"
                          data-aspectratio="{{ article.image.width }}/{{ article.image.height }}"
                          data-srcset=" {{ article.image | img_url: '2048x' }} 2048w,
                                        {{ article.image | img_url: '1600x' }} 1600w,
                                        {{ article.image | img_url: '1200x' }} 1200w,
                                        {{ article.image | img_url: '1000x' }} 1000w,
                                        {{ article.image | img_url: '800x' }} 800w,
                                        {{ article.image | img_url: '600x' }} 600w,
                                        {{ article.image | img_url: '400x' }} 400w"
                         />
                    <noscript>
                      <img class="lazyload" data-src="{{ article.image | img_url: '2048x' }}" alt="{{ article.image.alt | escape }}">
                    </noscript>
                  </a>
                {% endif %}

                {% if block.settings.blog_tags %}
                  <div class="blog_meta tags">
                    {% for tag in article.tags %}
                      <span><a href="{{ shop.url}}/blogs/{{ blogs[block.settings.blog_widget_select].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[block.settings.blog_widget_select].title | escape }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a></span>
                    {% endfor %}
                  </div>
                {% endif %}

                <h5 class="sub_title">
                  <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
                </h5>
                <p class="blog_meta">
                  {% if block.settings.blog_author %}
                    <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                  {% endif %}

                  {% if block.settings.blog_date %}
                    <span>{{ article.published_at | date: format: "month_day_year" }}</span>
                  {% endif %}

                  {% if block.settings.blog_comment_count %}
                    {% if settings.disqus_enabled %}
                      <span>
                        <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                      </span>
                    {% elsif article.comments_enabled? and article.comments_count > 0 %}
                      <span>
                        <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                      </span>
                    {% endif %}
                  {% endif %}
                </p>

                {% if article.excerpt != blank %}
                  <div class="excerpt">{{ article.excerpt }}</div>
                {% endif %}
                {% if block.settings.read_more_link %}
                  <p>
                    <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
                  </p>
                {% endif %}
              </div>
            {% endfor %}

        {% else %}

          {% if block.settings.title != blank %}
            <h2 class="title {% if num_of_blocks < 2 %}sixteen columns{% endif %}">
              <a href="#">
                {{block.settings.title }}
              </a>
            </h2>
          {% endif %}
          {% for i in (1..block.settings.home_page_articles) %}
            <div class="
              {% if num_of_blocks < 2 %}
                {% if block.settings.home_page_articles == 1 %}sixteen columns{% elsif block.settings.home_page_articles == 2 %}eight columns{% elsif block.settings.home_page_articles == 3 %}one-third column{% else %}four columns{% endif %}
              {% endif %}
                article clearfix">

              <a href="#">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg article_image' }}
              </a>

              <h5 class="sub_title">
                <a href="#" title="{{ 'homepage.onboarding.blogpost_title' | escape }}">{{ 'homepage.onboarding.blogpost_title' | t }}</a>
              </h5>
              <p class="blog_meta">
                {% if block.settings.blog_author %}
                  <span>{{ 'homepage.onboarding.blog_author' | t: author: article.author }}</span>
                {% endif %}

                {% if block.settings.blog_date %}
                  <span>{{ 'now' | date: format: "month_day_year" }}</span>
                {% endif %}

                {% if block.settings.blog_comment_count %}
                  {% if settings.disqus_enabled %}
                    <span>
                      <a href="{{ article.url }}#disqus_thread" data-disqus-identifier="{{ article.id }}" class="disqus-comment-count">{{ 'blogs.counts.comments_with_count' | t: count: 0 }}</a>
                    </span>
                  {% elsif article.comments_enabled? and article.comments_count > 0 %}
                    <span>
                      <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
                    </span>
                  {% endif %}
                {% endif %}
              </p>

              {% if article.excerpt != blank %}
                {{ 'homepage.onboarding.blog_excerpt' | t }}
              {% endif %}
              {% if block.settings.read_more_link %}
                <p>
                  <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }} <span class="icon-right-arrow"></span></a>
                </p>
              {% endif %}
            </div>
          {% endfor %}

        {% endif %}
        </div>
      {% endif %}

      {% if block.type == 'twitter' %}
        <div class="{% if forloop.length > 1 %}eight{% else %}sixteen{% endif %} columns twitter-feed-wrap" {{ block.shopify_attributes }}>
          {% if block.settings.title != blank %}
          <h2 class="title"><a href="https://twitter.com/{{ block.settings.twitter_username | replace: "@", "" | strip }}" target="_blank">{{block.settings.title }}</a></h2>
          {% endif %}
          <a class="twitter-timeline" data-theme="{{ block.settings.twitter_theme }}" href="https://twitter.com/{% if block.settings.twitter_username != blank %}{{ block.settings.twitter_username | replace: "@", "" | strip }}{% else %}outofthesandbox{% endif %}" data-widget-id="319998048782647298" data-tweet-limit="{{ block.settings.tweet_count }}" data-screen-name="{% if block.settings.twitter_username != blank %}{{ block.settings.twitter_username | replace: "@", "" | strip }}{% else %}outofthesandbox{% endif %}" data-chrome="noheader nofooter noborders transparent" data-link-color="{{ settings.link_color }}" data-heading-style="color:{{ settings.link_color }};font-size:{{ settings.regular_font_size }}px;font-family: {{ settings.regular_font | replace: 'Google_', '' | replace: '+', ' ' | replace: '"', '' }}"></a>
        </div>
      {% endif %}
    {% endfor %}

  </div>
    
  <script defer src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  
  <script async type="text/javascript">
  		lazyload();
  </script>
  
</div>


{% schema %}

{
  "name": "Blog and Twitter feed",
  "class": "twitter-feed-section featured-blog-section",
  "max_blocks": 2,
  "settings": [

  ],
  "blocks": [
      {
        "type": "blog",
        "name": "Featured blog",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Blog posts"
          },
          {
            "type": "blog",
            "id": "blog_widget_select",
            "label": "Blog"
          },
          {
            "type": "range",
            "id": "home_page_articles",
            "label": "Posts",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
          },
          {
            "type": "checkbox",
            "id": "blog_tags",
            "label": "Show blog post tags"
          },
          {
            "type": "checkbox",
            "id": "blog_author",
            "label": "Show author",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "blog_date",
            "label": "Show date",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "blog_comment_count",
            "label": "Show comment count",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "read_more_link",
            "label": "Show continue reading link for blog post excerpts",
            "default": true
          }
        ]
      },
    {
      "type": "twitter",
      "name": "Twitter",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "twitter_username",
          "label": "Twitter username"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Twitter title",
          "default": "Twitter feed"
        },
        {
          "type": "radio",
          "id": "twitter_theme",
          "label": "Twitter theme",
          "default": "light",
          "options": [
            {
              "value": "light",
              "label": "Light"
            },
            {
              "value": "dark",
              "label": "Dark"
            }
          ]
        },
        {
          "type": "range",
          "id": "tweet_count",
          "label": "Number of tweets",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 2
        }
      ]
    }
  ],
  "presets": [{
    "name": "Blog and Twitter feed",
    "category": "Social media",
    "settings": {
    },
    "blocks": [
      {
        "type": "blog"
      },
      {
        "type": "twitter"
      }
    ]
  }]
}

{% endschema %}
