{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
<div class="main_content_area content container">
  <div class="sixteen columns clearfix collection_nav">
    <h1 class="collection_title">
      {{ page.title }}
    </h1>
  </div>

  <div class="sixteen columns page">
    {% include 'page-multi-column', content: page.content %}
<div id="looxReviews" data-loox-aggregate=""></div>
  </div>
</div>