                   {% if product.type  == 'SHOPSTORM_HIDDEN_PRODUCT' %}
                     Product is not available
                     {% break %}
                   {% endif %}

{% comment %}
  The contents of the product-description-bottom.liquid template can be found in /sections/product-description-bottom-template.liquid
{% endcomment %}

{% section 'product-description-bottom-template' %}
