                   {% if product.type  == 'SHOPSTORM_HIDDEN_PRODUCT' %}
                     Product is not available
                     {% break %}
                   {% endif %}

{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
