                   {% if product.type  == 'SHOPSTORM_HIDDEN_PRODUCT' %}
                     Product is not available
                     {% break %}
                   {% endif %}

{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% endcomment %}

{% section 'product-details-template' %}

